<div class="" style="background: #21241c; padding: 4px 0; height:26px;">
        <div class="col-md-4">
            <p style="margin: 0px; text-align: left; color: #3D3D3D; font-size: 11px; margin-top:2px;">Version: @ViewBag.AssemblyVersion</p>
        </div>
        <div class="col-md-4">
            <p style="margin: 0px; text-align: center; color: white; font-size: 14px;">@ViewBag.AssemblyCopyright @ViewBag.AssemblyName</p>
        </div>
        <div class="col-md-4">
            @*<p style="margin: 0px; text-align: right; color: #3D3D3D; font-size: 11px; margin-top:2px;">rendered in @(Math.Round((DateTime.Now - ViewBag.startTime).TotalSeconds, 3))s</p>*@
        </div>
</div>